/* src/styles/Footer.css */

.footer {
  width: 100%;
  background: rgba(255, 255, 255, 0.8); /* Transparent background */
  text-align: center;
  padding: 10px 0;
}

.footer-content {
  color: #333;
}

.footer-content a {
  color: #006400;
  text-decoration: none;
  margin-left: 10px;
}

.footer-content a:hover {
  text-decoration: underline;
}
