.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  padding: 1rem;
  color: white;
}

.navbar-links {
  display: flex;
  align-items: center; /* Center items vertically */
}

.navbar-links a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1rem; /* Base font size */
}

.navbar-links a:hover {
  color: #ff6347;
  text-decoration: underline;
}

.cart-link {
  position: relative;
  display: flex;
  align-items: center;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
  font-weight: bold;
  z-index: 1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center; /* Center items horizontally */
    padding: 0.5rem; /* Adjust padding for smaller screens */
  }

  .navbar-links {
    margin-top: 1rem; /* Add spacing between links and logo */
    flex-direction: column; /* Stack links vertically on small screens */
  }

  .navbar-links a {
    margin: 0.5rem 0; /* Adjust margin for links */
    font-size: 0.9rem; /* Decrease font size for smaller screens */
  }
}
